@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
} 
* {
    font-family: 'Exo 2', sans-serif;
}

.Logo {
    max-width: 60px;
}
body{
    background-image: url(/IMG/background.jpg);
    animation: fadeInZoom 1.5s ease-in-out forwards; 
    opacity: 0;
}
.navbar {
    animation: fadeInZoom 1.5s ease-in-out forwards; 
    opacity: 0;
}
.container-video{
    padding-top: 5%;
}

.nav-link{
    text-decoration: none;
    color: #ffff;
}

.navbar-brand{
    color: #ffff;
}



video {
    border: 5px solid #007bff;
    transition: transform 0.5s ease-in-out;
}

video.playing {
    transform: scale(1.1);
}
audio {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

audio.playing {
    transform: scale(1.1)  ; 
  
}



footer {
    background-color: #2d3748;
    margin-top: 5%;
}

footer p, footer a {
    color: #edf2f7;
}

footer a:hover {
    text-decoration: underline;
}

.txt-sobre{
    padding: 5%;
    font-family: 'Bungee', cursive;
}
.text-boma{
    font-family: 'Bungee', cursive;
}